<div class="captcha-container">
  <!-- Progress indicator -->
  <div class="progress">
    <div
      *ngFor="let challenge of challenges; let i = index"
      class="progress-dot"
      [class.active]="i === currentChallengeIndex"
    ></div>
  </div>

  <h2>{{ challenges[currentChallengeIndex].question }}</h2>

  <div
    *ngIf="challenges[currentChallengeIndex].type === 'image'"
    class="image-grid"
  >
    <div *ngFor="let option of challenges[currentChallengeIndex].options">
      <img
        [src]="option.src"
        [class.selected]="option.selected"
        (click)="onAnswerSelected(option)"
      />
    </div>
  </div>

  <div *ngIf="challenges[currentChallengeIndex].type === 'math'">
    <input type="number" (input)="onAnswerSelected($event)" />
  </div>

  <div *ngIf="challenges[currentChallengeIndex].type === 'text'">
    <input type="text" (input)="onAnswerSelected($event)" />
  </div>

  <!-- Navigation buttons -->
  <div class="buttons">
    <button
      (click)="previousChallenge()"
      [disabled]="currentChallengeIndex === 0"
    >
      Previous
    </button>
    <button
      *ngIf="currentChallengeIndex < challenges.length - 1"
      (click)="nextChallenge()"
      [disabled]="!isValid"
    >
      Next
    </button>
    <button
      *ngIf="currentChallengeIndex === challenges.length - 1"
      (click)="finishCaptcha()"
      [disabled]="!isValid"
    >
      Verify
    </button>
  </div>
</div>
